%commit
  %identifier= commit.identifier
  %author_name= commit.author_name
  %author_email= commit.author_email
  %committer_name= commit.committer_name
  %committer_email= commit.committer_email
  %short_message= commit.short_message
  %message= commit.message
  %committed_at= commit.committed_at
  %authored_at= commit.authored_at
  %uploaded_at= commit.created_at
  %api_uri= api_v1_commit_url(:format => params[:format], :id => commit)
