%commit
  %identifier= commit.identifier
  %author_name= commit.author_name
  %author_email= commit.author_email
  %committer_name= commit.committer_name
  %committer_email= commit.committer_email
  %short_message= commit.short_message
  %message= commit.message
  %parent_identifiers= commit.parents.map(&:identifier).join(',')
  %committed_at= commit.committed_at
  %authored_at= commit.authored_at
  %uploaded_at= commit.created_at
  %line_additions= commit.line_additions
  %line_deletions= commit.line_deletions
  %line_total= commit.line_total
  %affected_file_count= commit.affected_file_count
  %api_uri= api_v1_commit_url(:format => params[:format], :id => commit)
  - unless commit.custom_attributes.empty?
    %custom_attributes
      - for custom_attribute in commit.custom_attributes
        = "<#{custom_attribute.name}>#{custom_attribute.value}</#{custom_attribute.name}>"
