- content_for(:page_layout_class) do
  = "project-page #{@project.visibility}-project"
.header
  - if !@project.viewable_by?(current_user)
    .access_denied
      %h1= "'#{params[:public_key]}' is a private project"
  - else
    - unless @project.visibility_acknowledged?
      = render :partial => 'community/projects/new_project_reminder', :locals => {:project => @project}
    %h1
      = @project
      - priveleged_user_or_owner_content(@project) do
        = link_to 'admin', edit_my_project_path(@project), :title => "Edit Project", :class => 'edit-project right'

.content.project_content
  .division.content
    - commit = @project.commit_head
    - if commit.blank?
      %h2 No commits yet!
      %p Run "fumes sync" on your repository
    - else
      .column.commit
        .overview
          = gravatar_image_tag(commit.committer_email, :alt => commit.committer_name, :title => commit.committer_name)
          - if commit.message.blank?
            %h3.shadow.no_commit_message [No commit message? Tsk! Tsk!]
          - else
            %h3.shadow
              = "#{commit.short_identifier}: #{commit.short_message.gsub("\n", "<br/>")}"
            - if commit.merge?
              %p= "Merge of: #{commit.parent_identifiers(:short).to_sentence}"
        .details
          %dl
            %dt Identifier:
            %dd= commit.identifier
            %dt Author:
            %dd= commit.author

    .division
      - if commit.nil?
        %h2 No commits yet!
      - else
        %ul.builds
          - commit.builds.each do |build|
            %li.build{:class => build_status_class_for(build)}
              .columns.two_columns
                .column
                  %h3
                    = build.name
                .column.align_right
                  %h3.build_duration
                    - build_duration_text_for(build)

  .footer
    .tracking_ideas
      = render :partial => 'community/projects/tracking_ideas'
