- content_for(:page_layout_class) do
  project-page
.main
  - if !@project.viewable_by?(current_user)
    .access_denied
      %h1= "'#{params[:public_key]}' is a private project"
  - else
    %h1.project_name
      = @project
      - priveleged_user_or_owner_content(@project) do
        = link_to '[edit]', edit_my_project_path(@project), :title => "Edit Project", :class => 'edit_project'
    - priveleged_user_or_owner_content(@project) do
      %ul.project-administration
        %li.visibility{:class => @project.visibility}= @project.visibility
        %li
          - form_for [:my, @project], :url => set_visibility_my_project_path(@project), :html => {:id => 'update_visibility'} do |f|
            = f.hidden_field :visibility, :value => inverted_visibility_of(@project)
            %button{:type => :submit}= "make #{inverted_visibility_of(@project)}"
    - priveleged_user_or_owner_content(@project) do
      %dl#project_keys
        %dt Public key
        %dd= @project.public_key
        %dt Private key
        %dd= @project.private_key

    - if @project.covered_by_plan?
      #canvas
        %ul#visualizations
          %li= link_to 'Visual 1', '', :id => 'vis_1'
          %li= link_to 'Visual 2', '', :id => 'vis_2'
    - else
      #upgrade_required
        %h3 Visuals would be here. Please upgrade your account.

    #details
      %h2 What can your commits <em>show</em> you?
      %p Expose interesting aspects of your codebase in its current state...or its evolution...by attaching meta-data to commits.

      %h3 Do your build failures have a pattern?
      %p.desc
        Mark the commits that break your build. Identify patterns. Change your habits.
        = link_to "Set up your build server...", ""

      %h3 Does test coverage really matter?
      %p.desc
        Track standard code metrics to find out.
        = link_to "Here's how to set it up...", ""

      %h3 Do death marches affect product quality?
      %p.desc
        Attach custom meta-data to commits. Show the relationship between hours worked, exceptions raised, and support requests to convince stakeholders.
        = link_to "Here's how...", ""

      %h3 Looking for that link?
      %p.desc
        Add direct links to commit-specific information, such as commit diffs, build output, and release packages, by using the
        = link_to "auto-matching commit attribute names...", ""

- content_for :onReady do
  vis = new CommitsOverTime('canvas',document.location.href+'.js',{background: '#333'})

  $('#vis_2').click(function(){
  vis.clear();
  vis = new Visualizer("canvas");
  return false;
  });

  $('#vis_1').click(function(event){
  vis.clear();
  vis = new CommitsOverTime('canvas',document.location.href+'.js',{background: '#333'})
  return false;
  });
