.main
  - if @project.nil?
    %h1 This URI has not been activated yet
    %p.reserve If you'd like to reserve it, follow these steps:
    %ul.instructions
      %li
        %h2 Step 1. Install codefumes_harvester:
        %p
          sudo gem install codefumes_harvester
      %li
        %h2 Step 2. Run this:
        %p
          = "harvest_repo_metrics  --project_key #{params[:public_key]}"
      %li
        %h2 Step 3. Review:
        %p
          = link_to "Reload this page", short_uri_url(:id => params[:id]), :id => :short_uri

  - else
    %h1= @project
    - priveleged_user_or_owner_content(@project) do
      %dl#project_keys
        %dt Public key
        %dd= @project.public_key
        %dt Private key
        %dd= @project.private_key

    - if @project.covered_by_plan?
      #canvas
        %ul#visualizations
          %li= link_to 'Visual 1', '', :id => 'vis_1'
          %li= link_to 'Visual 2', '', :id => 'vis_2'
    - else
      #upgrade_required
        %h3 Visuals would be here. Please upgrade your account.

    #details
      - if @project.recent_commits.empty?
        %p.no_commits
          No commits posted yet
      - else
        %ul.commits
          - for commit in @project.recent_commits
            %li{:class => commit.merge? ? "merge" : nil}
              - if commit.message.blank?
                %h2.no_commit_message [No commit message? Tsk! Tsk!]
              - else
                %h2= commit.message.gsub("\n", "<br/>")
              - if commit.merge?
                %p= "Merge of: #{commit.parent_identifiers(:short).to_sentence}"
              %ul
                %li= "Identifier: #{commit.short_identifier}"
                %li= "Author: #{commit.author}"
                %li= "Committer #{commit.committer}"
                %li= "Authored at: #{commit.authored_at}"
                %li= "Committed at: #{commit.committed_at}"
                %li= "Lines added: #{commit.line_additions}"
                %li= "Lines deleted: #{commit.line_deletions}"
                %li= "Total lines: #{commit.line_total}"
                %li= "Files affected: #{commit.affected_file_count}"
                - unless commit.custom_attributes.empty?
                  %li.custom_attributes
                    %ul
                      - for custom_attribute in commit.custom_attributes
                        %li= "#{custom_attribute.name}: #{custom_attribute.value}"

-content_for :onReady do
  vis = new CommitsOverTime('canvas',document.location.href+'.js',{background: '#333'})

  $('#vis_2').click(function(){
  vis.clear();
  vis = new Visualizer("canvas");
  return false;
  });
  
  $('#vis_1').click(function(event){
  vis.clear();
  vis = new CommitsOverTime('canvas',document.location.href+'.js',{background: '#333'})
  return false;
  });

