- content_for(:page_layout_class) do
  howto
.main
  %h1 Integrate your build server with CodeFumes
  %h2 Why?
  %ol.reasons
    %li
      = image_tag('howtos/spot_reasons.png')
      %h4 Identify trends in broken builds.
    %li
      = image_tag('howtos/unified_dashboard.png')
      %h4 Unify project build dashboards.
    %li
      = image_tag('howtos/api_access.png')
      %h4
        Unleash your creativity via the API.
  %div.columns.two_columns
    %div.column
      %h2 No build server? No problem.
      %script{ :src => "http://gist.github.com/453704.js" }
      = link_to "More...", howto_page_path('any_ci_setup')
    %div.column
      %h2 Have a build Server? Even Better.
      %ul.build-logos
        %li= link_to "Hudson", howto_page_path('hudson')
        %li= link_to "integrity", howto_page_path('integrity')
        %li= link_to "CC.rb", howto_page_path('cruise_control')
