- content_for(:page_layout_class) do
  howto
.main
  %h1 Integrate your build server with CodeFumes
  .build-logos
    = link_to image_tag('howtos/hudson.png'), howto_page_path('hudson')
    = link_to image_tag('howtos/integrity.png'), howto_page_path('integrity')
    = link_to image_tag('howtos/cruise_control.png'), howto_page_path('cruise_control')
  %h2 Why?
  %ol
    %li Simplify process of identifying behavior trends that break the build and try to change those habits.
    %li Create a unified "build status" dashboard across all your projects.
    %li Construct a build light using the API is simple and uniform, regardless of your build server.

  %h2 Which build server are you using?
  %ul
    %li= link_to "Integrity", howto_page_path('integrity')
    %li= link_to "Hudson", howto_page_path('hudson')
    %li= link_to "CruiseControl.rb", howto_page_path('cruise_control')
    %li= link_to "None of these...", howto_page_path('any_ci_setup')
