- content_for(:page_layout_class) do
  = "project-page #{@project.visibility}-project"
.main
  - if !@project.viewable_by?(current_user)
    .access_denied
      %h1= "'#{params[:public_key]}' is a private project"
  - else
    - unless @project.visibility_acknowledged?
      = render :partial => 'community/projects/new_project_reminder', :locals => {:project => @project}
    .project-overview
      %h1
        = "#{@project} / #{@attribute}"
        - priveleged_user_or_owner_content(@project) do
          .admin-content
            = link_to '[admin]', edit_my_project_path(@project), :title => "Edit Project", :class => 'edit-project'
    #visualization-area
      - if @project.covered_by_plan?
        #canvas.js_linegraph
      - else
        #upgrade_required
          %h3 Visuals would be here. Please upgrade your account.
    #custom-attributes
      %ul.attributes
        %li.attribute
          = link_to "Back to project", short_uri_path(@project)
        - @project.unique_custom_attributes.each do |attribute|
          %li.attribute
            = link_to "#{attribute}", show_project_attributes_path(@project, attribute), :id => "#{attribute}_attribute", :class => ('selected' if attribute == @attribute)
  #tracking_ideas
    = render :partial => 'community/projects/tracking_ideas'
  = link_to 'I get it, I want it, Tell me how already!', '/signup', :class => 'i_want_it'