- content_for(:page_layout_class) do
  = "project-page #{@project.visibility}-project"
.main
  - if !@project.viewable_by?(current_user)
    .access_denied
      %h1= "'#{params[:public_key]}' is a private project"
  - else
    - unless @project.visibility_acknowledged?
      = render :partial => 'community/projects/new_project_reminder', :locals => {:project => @project}
    .project-overview
      %h1
        = "#{@project}: #{@attribute}"
        - priveleged_user_or_owner_content(@project) do
          .admin-content
            = link_to '[admin]', edit_my_project_path(@project), :title => "Edit Project", :class => 'edit-project'
    #details
      = link_to 'What can this do for me?', '#tracking_ideas', :class => 'do_for_me', :title => 'you better sit down, because we\'re about to rock your world.'
    #visualization-area
      - if @project.covered_by_plan?
        #canvas
          %h2
            TODO: Add specific attribute visualization
          / A little to early for this. Need to picture w/ these links
          / %ul#visualizations
          /    %li= link_to 'Visual 1', '', :id => 'vis_1'
          /    %li= link_to 'Visual 2', '', :id => 'vis_2'
      - else
        #upgrade_required
          %h3 Visuals would be here. Please upgrade your account.
    #custom-attributes
      %ul.attributes
        -@project.unique_custom_attributes.each do |attribute|
          %li
            =link_to "#{attribute}", show_project_attributes_path(@project, attribute), :id => "#{attribute}_attribute", :class => 'selected' if attribute = @attribute
    #textual-commit-area
      %ul.commits
        - @project.recent_commits.each do |commit|
          - css_classes = commit_classes_for(commit)
          - css_classes += " head" if commit == @project.commit_head
          %li{:class => css_classes}
            - if commit.message.blank?
              %h2.no_commit_message [No commit message? Tsk! Tsk!]
            - else
              %h2
                = "#{commit.short_identifier}: #{commit.short_message.gsub("\n", "<br/>")}"
              - if commit.merge?
                %p= "Merge of: #{commit.parent_identifiers(:short).to_sentence}"
              %span.duration 3min 32secs
              %ul
                %li= "Identifier: #{commit.identifier}"
                %li= "Author: #{commit.author}"
                %li= "Committer #{commit.committer}"
                %li= "Authored at: #{commit.authored_at}"
                %li= "Committed at: #{commit.committed_at}"
                %li= "Lines added: #{commit.line_additions}"
                %li= "Lines deleted: #{commit.line_deletions}"
                %li= "Total lines: #{commit.line_total}"
                %li= "Files affected: #{commit.affected_file_count}"
                - unless commit.custom_attributes.empty?
                  %li.custom_attributes
                    %ul
                      - for custom_attribute in commit.custom_attributes
                        %li= "#{custom_attribute.name}: #{custom_attribute.value}"
  #tracking_ideas
    = render :partial => 'community/projects/tracking_ideas'
  = link_to 'I get it, I want it, Tell me how already!', '/signup', :class => 'i_want_it'