= render :partial => 'layouts/standard/shared/doctype_definition'
%html
  %head
    = stylesheet_link_tag 'tenplate'
    = yield :head
  %body
    #grid
      #header
        awesome_logo
      #master
        = yield(:master)
      #detail
        = render :partial => "layouts/flashes"
        = yield
      #footer
        %ul
          %li Copyright info here
  = render :partial => "layouts/standard/shared/javascript"
