= render :partial => 'layouts/standard/shared/doctype_definition'
%html
  %head
    = stylesheet_link_tag 'tenplate'
    = yield :head
  %body
    #grid
      #header
        Codometer
      #master
        = render :partial => "layouts/main_navigation"
        = yield(:master)
      #detail
        = render :partial => "layouts/flashes"
        = yield
  = render :partial => "layouts/standard/shared/javascript"
