.header
  %h1.title Sign up
.content
  - semantic_form_for @user, :html => {:class => "primary-content"} do |f|
    
    - f.inputs do
      = f.input :email
      = f.input :login
      = f.input :password
      = f.input :password_confirmation, :label => "Confirm Password"
    - f.buttons do
      = f.commit_button "Sign up", :button_html => {:id => :create_user}
