- content_for(:page_layout_class) do
  one-col

.main
  - semantic_form_for @user, :html => {:class => "primary-content"} do |f|
    %h1 Sign up
    - f.inputs do
      = f.input :email
      = f.input :login
      = f.input :password
      = f.input :password_confirmation, :label => "Confirm Password"
    - f.buttons do
      = f.commit_button "Sign up", :button_html => {:id => :create_user}
