.main
  %h1 Setting up a new account
  - form_for @user do |f|
    = error_messages_for(:user)
    %div
      = f.label :email
      = f.text_field :email
    %div
      = f.label :login
      = f.text_field :login
    %div
      = f.label :password
      = f.password_field :password
    %div
      = f.label :password_confirmation, "Confirm Password"
      = f.password_field :password_confirmation
    %div
      = submit_tag "Sign up", :id => :create_user
