.main
  %h1 Your Info
  %dl
    %dt Login
    %dd= @user.login
    %dt API key
    %dd= @user.single_access_token
    %dt Email address
    %dd= @user.email
    - paying_user_content do
      %dt#current_plan Current Plan
      %dd
        = @user.current_plan
        = link_to "Edit", edit_my_subscription_path
    - non_paying_user_content do
      = link_to "Track your private projects too", new_my_subscription_path, :id => 'new_subscription'

