.header
  %h1 Profile
.content
  - non_paying_user_content do
    = link_to "Track your private projects too", new_my_subscription_path, :id => 'new_subscription'

  %h4.shadow Account Information
  %dl.clearfix
    %dt Login:
    %dd= @user.login
    %dt API key:
    %dd= @user.single_access_token
    %dt Email address:
    %dd= @user.email
    - paying_user_content do
      %dt Current Plan:
      %dd#current_plan
        %span= @user.current_plan
        = link_to "Edit", edit_my_subscription_path
  
  %h4.shadow Reset Password
  - semantic_form_for @user, :url => my_account_path, :html => {:method => :put, :class => "float-left"} do |f|
    = f.inputs :password, :password_confirmation
    - f.buttons do
      = f.commit_button :button_html => {:value => "Update password"}
