.header
  %h1.title Edit Project
.content
  %h4.shadow Project Info
  %dl#project_keys.clearfix
    %dt Public key
    %dd= @project.public_key
    %dt Private key
    %dd= @project.private_key
  %h4.shadow Change Project Name
  - semantic_form_for [:my, @project], :html => {:class => "float-right formtastic"} do |f|
    = f.input :name, :input_html => {:value => @project}, :hint => "Changing this will not affect your public key (permalink)"
    - f.buttons do
      = f.commit_button :button_html => {:value => "Save changes"}
      %li.text.quiet
        = link_to "Cancel", short_uri_path(@project)
  %h4.shadow Delete Project
  - semantic_form_for [:my, @project], :html => {:method => :delete, :class => 'float-right formtastic delete_project', :id => dom_id(@project, :delete)} do |f|
    - f.buttons do
      = f.commit_button :button_html => {:value => "Yes, remove it!"}
      %li.text.quiet
        Do you want to delete this project?

  %ul.project-administration
    %li.visibility{:class => @project.visibility}= @project.visibility
    %li
      - form_for [:my, @project], :url => set_visibility_my_project_path(@project), :html => {:id => 'update_visibility'} do |f|
        = f.hidden_field :visibility, :value => inverted_visibility_of(@project)
        %button{:type => :submit}= "make #{inverted_visibility_of(@project)}"
