%div
  .overview
    = image_tag "mockups/video_player.jpg"
  .get_started
    %ol
      %li
        Install [gemname]:
        %pre
          prompt $ sudo gem install [gemname]
      %li
        Run this:
        %pre
          = "prompt $ [command_name] --some-flag #{@project_key}"
      %li
        Review:
        %pre
          = link_to "http://url.for.key/#{@project_key}"
