- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'tenplate'
    = yield :head
  %body
    #grid
      #header
        = link_to 'CodeFumes.com', root_path
      #master
        = yield(:master)
      #detail
        = render :partial => "layouts/flashes"
        = yield
      #footer
        %ul
          %li Copyright info here
  = javascript_include_tag 'jquery', 'initializer'

  = yield :javascript
  :javascript
    $(#{yield :onReady});
