- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'compiled/ie'
    = stylesheet_link_tag 'compiled/screen'
    = yield :head
  %body{:class => yield(:page_layout_class)}
    #usable-area
      #header
        .logo
          = link_to "Codefumes.com", root_path, :class => 'logo visual'
        .tagline
          Track. Review.
          %em Improve.
        .session
          = render :partial => 'layouts/session_info_and_links'
      #content
        = render :partial => "layouts/flashes"
        = yield
      - if sidebar_content = yield(:sidebar)
        #sidebar
          = sidebar_content
      #footer
        = link_to "codefumes.com", root_path
    = javascript_include_tag :all, :recursive => true
  = yield :javascript
  :javascript
    $(function(){
    #{yield :onReady}
    });
