- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = yield :head
  %body
    = yield
  - # include javascript
  = javascript_include_tag :all
  = yield :javascript
  :javascript
    document.observe("dom:loaded",function(ev){
      #{yield :onReady}
    });
