- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'compiled/ie'
    = stylesheet_link_tag 'compiled/screen'
    = stylesheet_link_tag 'compiled/application'
    = yield :head
  %body.bp.three-col
    #container
      #header
        %h1
          = link_to "Codefumes.com", root_path, :class => 'logo visual'
        .session
          = render :partial => 'layouts/session_info_and_links'

      #content
        = render :partial => "layouts/flashes"
        = yield
      #footer
        = link_to "Codefumes.com", root_path

  = javascript_include_tag %w(raphael jquery initializer jquery.dates grid svgmodal visualizer main application)

  = yield :javascript
  :javascript
    $(
    function(){
    #{yield :onReady}
    }
    );
