- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'tenplate'
    = yield :head
  %body
    #header
      .grid
        %h1
          = link_to(image_tag('logo_visual.png', :alt => '', :class => 'logo visual'), root_path)
          = link_to(image_tag('logo_textual.png', :alt => 'Codefumes', :class => 'logo textual'), root_path)
        %p What does your code smell like?

    #grid
      /   = link_to 'CodeFumes.com', root_path
      / #master
      /   = yield(:master)
      / #detail
      /   = render :partial => "layouts/flashes"
      /   = yield
      / #footer
      /   %ul
      /     %li Copyright info here
  = javascript_include_tag %w(raphael jquery initializer jquery.dates visualizer template card)

  = yield :javascript
  :javascript
    $(
    function(){
    #{yield :onReady}
    }
    );
