- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'tenplate'
    = yield :head
  %body
    #header
      .grid
        %h1
          = link_to image_tag('logo_visual.png', :alt => ''), root_path, :class => 'logo visual'
          = link_to image_tag('logo_textual.png', :alt => 'Codefumes'), root_path, :class => 'logo textual'
        %p What does your code smell like?
        .session
          = link_to 'Login', login_path, :class => 'session', :class => 'login'
          = link_to 'Sign Up', signup_path, :class => 'session', :class => 'sign_up'
    /= render :partial => "layouts/flashes"
    #grid
      = yield

  = javascript_include_tag %w(raphael jquery initializer jquery.dates visualizer template card)

  = yield :javascript
  :javascript
    $(
    function(){
    #{yield :onReady}
    }
    );
