%build
  %identifier= build.to_param
  %name= build.name
  %state= build.state
  %started_at= build.started_at
  %ended_at= build.ended_at
  %created_at= build.created_at
  %commit_identifier= build.commit.identifier
  - unless build.new_record?
    %public_key= build.commit.project.public_key
    %private_key= build.commit.project.private_key
    %api_uri= api_v1_project_commit_build_url(:project_id => build.commit.project, :commit_id => build.commit, :id => build, :format => :xml)
